extends layout

block content
    div.viewBox
      div.header #{title}
      div.playerHeader
          div.playerInfoBox
                span.playerNameBox
                    span(id="playerName").basetext
                span.updateBut
                    a(id="updateName",href="#").gameButton Update
          div.playerStatsBox
                span(alt="Wins").wins wins:
                  span(id="wins").basetext
                span.losses losses:
                  span(id="losses").basetext
                span.ties ties:
                    span(id="ties").basetext
      div(id="messages")
        div(id="gameMessage").gameMessage
        a(id='viewButton',href="#").gameButton All Logs
      div(id='archiveMessageBox')
          div(id='archiveMessages').gameMessage
      div.spacer
      div.gameHeader
          div.gameActionPanel
            a(id="playComputer",href="#").gameButton Play Computer |
            a(id="computerSimulation",href="#").gameButton Computer Simulation
      div.spacer
      div.gameIconPanel
          span.iconView You:
              span(id="myIcon") X
          span.iconView Opponent:
              span(id="oppIcon") O
          a(id="swapIcons",href="#").gameButton Swap
      div.gameViewBox
        div.tictacbox
          each r in [0, 1, 2]
            div(class='row')
                div(id='row' + r + '_0').boxdims
                div.col2.coldim
                    each c in [1, 2]
                      div(id='row' + r + '_' + c).colbox
      div.menu
        div.gameList
            ul(id='availGames').gameText
        div.instructions
            div.gameTitle Game Instructions
            div.gameText Request a Game by selecting an Available Game Request.  Game Requestor is always the X and Opponent is O.