doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" ,content="width=device-width, initial-scale=1.0, minimal-ui")
  body
    block content

    block footer
        footer
            script(src="https://code.jquery.com/jquery-2.2.3.min.js"   
                integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   
                crossorigin="anonymous")
            script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
            script(src='https://cdn.socket.io/socket.io-1.0.6.js')
            script(src='/javascripts/AIPlayer.js')
            script(src='/javascripts/script.js')