doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" ,content="width=device-width, initial-scale=1.0, minimal-ui")
  body
    block content

    block footer
        footer
            script(src='/javascripts/jquery-2.2.3.js')
            script(src='https://cdn.socket.io/socket.io-1.0.6.js')
            script(src='/javascripts/AIPlayer.js')
            script(src='/javascripts/updateDOM.js')            
            script(src='/javascripts/script.js')